*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.about{
    width: 100%;
    height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
}
.about .main img{
    height: 500px;
    width: 650px;
    border-radius: 50px;
    max-width: 100%;
}
.about-text{
    width: 550px;
    max-width: 100%;
    padding: 0 30px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: rgb(84, 164, 189);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #3edddd;
}
.about-text p{
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}
button{
    background: #3edddd;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}
button:hover{
    transform: scale(1.2);
    background: transparent;
    border: 2px solid #3edddd;
    cursor: pointer;
    transition: .4s;
}
@media screen and (max-width: 1180px){
    .about{
        width: 100%;
        height: auto;
    }
}    

@media screen and (max-width: 650px){  
    .about .main img{
        margin-bottom: 35px;
    }
    .about-text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
    .main{
        flex-wrap: wrap;
    }
}

.wrapper{
    margin-top: 10%;
  }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }  
.mission{
    background-color: rgb(11, 100, 100);
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.mission h1{
    font-size: 36px;
    font-weight: 600;
}

.mission-col p{
    color: rgb(141, 7, 7);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.mission-col{
    flex-basis: 31%;
    background: #bbdfc6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
}
.mission-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.mission-col:hover{
    box-shadow: 0 0 70px 10px rgba(0,0,0,0.9);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}